/* Themify Customize Styling */
h1 {	
	font-family:Open Sans;	font-weight:bold;
	font-size:80px;
 
}
#headerwrap {	background: none;
	background-color: #3b3b3b; 
}
#header {	
	color: #000000; 
}
#headerwrap.fixed-header, .transparent-header #headerwrap.fixed-header {	background: none;
	background-color: #3b3b3b; 
}
body[class*="themify"] #site-logo {	
	font-family:Open Sans;	font-weight:bold;
	font-size:16px;

	color: #e9e7f5; 
}
#main-nav {		position:relative;
 
}
#main-nav a {		font-size:16px;
 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav a:hover, #main-nav-wrap #main-nav > li > a:hover {	
	color: #e6e6e6; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #e6e6e6; 
}
#footerwrap {	background: none;
	background-color: #292929; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #ffffff; 
}
